<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/project-charter">Project Charter</a>
        <a href="/team-profile">Team Profile</a>
        <a href="/gantt-chart">Gantt Chart</a>
        <a href="/wbs">WBS</a>
    </nav>
    <h1>Welcome to the Landing Page</h1>
    <p>This is the landing page of our Flask application.</p>
</body>
</html>
