<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk Management Page</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/project-charter">Project Charter</a>
        <a href="/team-profile">Team Profile</a>
        <a href="/gantt-chart">Gantt Chart</a>
        <a href="/wbs">WBS</a>
        <a href="/critical-path-analysis">Critical Path Analysis</a>
        <a href="/cost-estimate">Cost Estimate</a>
        <a href="risk-management">Risk Management</a>
    </nav>
    <h1>Welcome to the Risk Managemnet Page</h1>
    <p>This is the risk management page of our Flask application.</p>
</body>
</html>
